<!-- <div routerLinkActive="active" ariaCurrentWhenActive="page" class="row wide main-nav-wrap">
    <nav routerLinkActive="active" ariaCurrentWhenActive="page" class="column lg-12 main-nav">
      <ul>
        <li><a routerLink="/intro"  routerLinkActive="active" ariaCurrentWhenActive="page">Poorva.</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">About</a></li>
        <li><a routerLink="/expertise" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Expertise</a></li>
        <li><a routerLink="/career" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Career</a></li>
        <li><a routerLink="/works" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Say Hello!</a></li>
      </ul>
    </nav>
  </div> -->


  <!-- <div routerLinkActive="active" ariaCurrentWhenActive="page" class="row wide main-nav-wrap">
    <nav routerLinkActive="active" ariaCurrentWhenActive="page" class="column lg-12 main-nav">
      <ul>
        <li><a routerLink="/intro"  routerLinkActive="active" ariaCurrentWhenActive="page">Poorva.</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">About</a></li>
        <li><a routerLink="/expertise" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Expertise</a></li>
        <li><a routerLink="/career" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Career</a></li>
        <li><a routerLink="/works" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Say Hello!</a></li>
      </ul>
    </nav>
  </div> -->
  <!-- <div class="navigation-bar-container" routerLinkActive="active" ariaCurrentWhenActive="page">
    <nav class="navigation-bar" routerLinkActive="active" ariaCurrentWhenActive="page">
      <ul class="navigation-list">
        <li class="navigation-item"><a routerLink="/intro" class="navigation-link" routerLinkActive="active" ariaCurrentWhenActive="page">Poorva.</a></li>
        <li class="navigation-item"><a routerLink="/about" class="navigation-link smooth-scroll" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li class="navigation-item"><a routerLink="/expertise" class="navigation-link smooth-scroll" routerLinkActive="active" ariaCurrentWhenActive="page">Expertise</a></li>
        <li class="navigation-item"><a routerLink="/career" class="navigation-link smooth-scroll" routerLinkActive="active" ariaCurrentWhenActive="page">Career</a></li>
        <li class="navigation-item"><a routerLink="/works" class="navigation-link smooth-scroll" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a></li>
        <li class="navigation-item"><a routerLink="/contact" class="navigation-link smooth-scroll" routerLinkActive="active" ariaCurrentWhenActive="page">Say Hello!</a></li>
      </ul>
    </nav>
  </div> -->
  <!-- <div routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-wrapper">
    <nav routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-bar">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/intro" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Poorva.</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link smoothscroll">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/expertise" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link smoothscroll">Expertise</a>
        </li>
        <li class="nav-item">
          <a routerLink="/career" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link smoothscroll">Career</a>
        </li>
        <li class="nav-item">
          <a routerLink="/works" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link smoothscroll">Projects</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link smoothscroll">Say Hello!</a>
        </li>
      </ul>
    </nav>
  </div> -->
  <!-- <div class="nav-wrapper">
    <nav class="nav-bar">
      <div class="nav-brand">
        <a routerLink="/intro" class="nav-link">Poorva.</a>
      </div>
  
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
  
      <ul class="nav-list" id="navList">
        <li class="nav-item"><a routerLink="/about" class="nav-link smoothscroll">About</a></li>
        <li class="nav-item"><a routerLink="/expertise" class="nav-link smoothscroll">Expertise</a></li>
        <li class="nav-item"><a routerLink="/career" class="nav-link smoothscroll">Career</a></li>
        <li class="nav-item"><a routerLink="/works" class="nav-link smoothscroll">Projects</a></li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link smoothscroll">Say Hello!</a></li>
      </ul>
    </nav>
  </div> -->

  <nav class="nav-bar">
    <div class="nav-left">
      <a routerLink="/intro" class="nav-link brand">POORVA.</a>
    </div>
    <div class="hamburger" id="hamburger">
    <!-- <div class="hamburger" #hamburger> -->
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-list" id="navList">
    <!-- <ul class="nav-list" #navList> -->
      <li class="nav-item"><a routerLink="/about" class="nav-link smoothscroll">ABOUT</a></li>
      <li class="nav-item"><a routerLink="/expertise" class="nav-link smoothscroll">EXPERTISE</a></li>
      <li class="nav-item"><a routerLink="/career" class="nav-link smoothscroll">CAREER</a></li>
      <li class="nav-item"><a routerLink="/works" class="nav-link smoothscroll">PROJECTS</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link smoothscroll">SAY HELLO!</a></li>
    </ul>
  </nav>
  
  
  