<div routerLinkActive="active" ariaCurrentWhenActive="page" class="row wide main-nav-wrap">
    <nav routerLinkActive="active" ariaCurrentWhenActive="page" class="column lg-12 main-nav">
      <ul>
        <li><a routerLink="/intro"  routerLinkActive="active" ariaCurrentWhenActive="page" class="home-link">Poorva.</a></li>
        <!-- <li routerLinkActive="active" ariaCurrentWhenActive="page" class="current">
          <a routerLink="/intro" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Intro</a></li> -->
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">About</a></li>
        <li><a routerLink="/expertise" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Expertise</a></li>
        <li><a routerLink="/career" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Career</a></li>
        <li><a routerLink="/works" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="smoothscroll">Say Hello!</a></li>
      </ul>
    </nav>
  </div>