<!-- ### about
  ================================================== -->
  <section id="about" class="s-about target-section">


    <div class="row about-info wide" data-animate-block>

      <div class="column lg-6 md-12 about-info__pic-block">
        <img src="assets/images/portfolio/poorva.JPG" srcset="assets/images/portfolio/poorva.JPG 1x, assets/images/portfolio/poorva.JPG 2x" alt="hello"
          class="about-info__pic" data-animate-el>
      </div>

      <div class="column lg-6 md-12">
        <div class="about-info__text">

          <!-- <h2 class="text-pretitle with-line" data-animate-el> -->
          <h2 class="text-pretitle" data-animate-el>
            &mdash;About
          </h2>
          <p class="attention-getter" data-animate-el>
            {{about.aboutme}}
          </p>
          <a href="assets/Resume/PoorvaMahajan-SoftwareEngineer.pdf" download="PoorvaMahajan-SoftwareEngineer.pdf" class="btn btn--medium u-fullwidth" data-animate-el>Download CV</a>

        </div>
      </div>
    </div> <!-- about-info -->


    

  </section> <!-- end s-about -->