<section id="Expertise" class="s-expertise target-section">
<div class="row about-expertise" data-animate-block>
  <div class="column lg-12">

    <h2 class="text-pretitle" data-animate-el>Expertise</h2>
    <ul class="skills-list h3" data-animate-el>
      <li><span style="color: #eabe7b;">Languages </span> : C#, C, Javascript, TypeScript</li>
      <li>Frameworks & Platforms : <span style="color: #eabe7b;">.NET Framework, .NET Core, Angular</span></li>
      <li><span style="color: #eabe7b;">Front-End Technologies</span> : Html, CSS</li>
      <li>MVVM Architecture</li>
      <li><span style="color: #eabe7b;">SQLite & Database Management</span></li>
      <li>REST API Development & Integration</li>
      <li><span style="color: #eabe7b;">Encryption & Decryption Algorithms</span></li>
      <li>Windows Services</li>
      <li><span style="color: #eabe7b;">Git & Version Control (GitLab)</span></li>
      <li>Linux Shell Scripting</li>
      <li><span style="color: #eabe7b;">Software Deployment (InstallShield)</span></li>
    </ul>

  </div>
</div> <!-- end about-expertise -->

</section>