<!-- ## footer
================================================== -->
<footer class="s-footer">

  <div class="row">
    <div class="column ss-copyright">
      <span> Made by Poorva Mahajan | <a href="https://github.com/poorvamahajan/Portfolio">Source Code</a> </span>
    </div>
    <div class="column ss-copyright">
    </div>
    <div class="column ss-copyright">
      @for (SocialMediaHandle of footer.socialMediaHandle; track SocialMediaHandle){
      <span>
        <a href="{{SocialMediaHandle.url}}"><img src="{{SocialMediaHandle.ImageLocation}}"
            alt="Instagram Logo" style="width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;">
        </a>
      </span>
    }
    </div>
  </div>
</footer> <!-- end s-footer -->