<!-- ### works
  ================================================== -->
<!-- <section id="works" class="s-works target-section">


  <div class="row works-portfolio">

    <div class="column lg-12" data-animate-block>

      <h2 class="text-pretitle" data-animate-el>
        Recent Works
      </h2>
      <p class="h1" data-animate-el>
        Here is a list of the projects I have done lately. Feel free to check them out.
      </p>

      <ul class="">
        @for (project of project; track project){
        <li class=" " data-animate-el>
          <a class="" [href]="project.ProjectUrl || '#'" [class.disabled]="!project.ProjectUrl"
            [attr.title]="project.ProjectUrl ? 'Visit Project' : null"
            (click)="!project.ProjectUrl && $event.preventDefault()">
            <div class="">
              <div class="">
                {{project.Name}}
              </div>
              <div class="">
                {{project.TechStack}}
              </div>
              <div class="">
                {{project.Description}}
              </div>
            </div>
          </a>
          <a class="" href="{{ project.GitUrl || 'javascript:void(0);' }}"
            [class.disabled]="!project.GitUrl" [attr.title]="project.GitUrl ? 'Source Code' : null">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
          </a>
        </li>
        }

      </ul>

    </div>

  </div>


</section> -->
<!-- <section id="works" class="s-works target-section">
  <div class="row works-portfolio">
    <div class="column lg-12" data-animate-block>

      <h2 class="text-pretitle" data-animate-el>
        Recent Works
      </h2>
      <p class="h1" data-animate-el>
        Here is a list of the projects I have done lately. Feel free to check them out.
      </p>

      <div class="project-grid">
        @for (project of project; track project) {
          <div class="project-card" data-animate-el>

            <div class="project-content">
              <h3 class="project-title">{{ project.Name }}</h3>
              <p class="project-tech">{{ project.TechStack }}</p>
              <p class="project-desc">{{ project.Description }}</p>
            </div>

            <div class="project-links">
              <a class="visit-link"
                 [href]="project.ProjectUrl || '#'"
                 [class.disabled]="!project.ProjectUrl"
                 [attr.title]="project.ProjectUrl ? 'Visit Project' : null"
                 (click)="!project.ProjectUrl && $event.preventDefault()">
                Visit
              </a>

              <a class="source-link"
                 [href]="project.GitUrl || 'javascript:void(0);'"
                 [class.disabled]="!project.GitUrl"
                 [attr.title]="project.GitUrl ? 'Source Code' : null">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                    fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                  </path>
                </svg>
              </a>
            </div>

          </div>
        }
      </div>

    </div>
  </div>
</section> -->
<!-- === Works Section === -->
<!-- <section id="works" class="s-works target-section">

  <div class="row works-portfolio">
    <div class="column lg-12" data-animate-block>

      <h2 class="text-pretitle" data-animate-el>
        Recent Works
      </h2>
      <p class="h1" data-animate-el>
        Here is a list of the projects I have done lately. Feel free to check them out.
      </p>

      <ul class="project-grid">
        @for (project of project; track project) {
          <li class="project-card" data-animate-el>
            
            <a [href]="project.ProjectUrl || '#'" [class.disabled]="!project.ProjectUrl"
               [attr.title]="project.ProjectUrl ? 'Visit Project' : null"
               (click)="!project.ProjectUrl && $event.preventDefault()">
              <div class="project-content">
                <h3>{{ project.Name }}</h3>
                <p class="techstack">{{ project.TechStack }}</p>
                <p class="description">{{ project.Description }}</p>
              </div>
            </a>
            <a class="source-link" [href]="project.GitUrl || 'javascript:void(0);'" 
               [class.disabled]="!project.GitUrl"
               [attr.title]="project.GitUrl ? 'Source Code' : null">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                  fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
              </svg>
            </a>
          </li>
        }
      </ul>

    </div>
  </div>

</section> -->
<!-- <section id="works" class="s-works target-section">
  <div class="row works-portfolio">
    <div class="column lg-12" data-animate-block>

      <h2 class="text-pretitle" data-animate-el>Recent Works</h2>
      <p class="h1" data-animate-el>
        Here is a list of the projects I have done lately. Feel free to check them out.
      </p>

      <ul class="project-grid" data-animate-el>
        @for (project of project; track project) {
          <li class="project-card">
            <a [href]="project.ProjectUrl || '#'" [class.disabled]="!project.ProjectUrl"
            [attr.title]="project.ProjectUrl ? 'Visit Project' : null"
            (click)="!project.ProjectUrl && $event.preventDefault()">
              <div class="card-content">
                <h3>{{ project.Name }}</h3>
                <p class="tech">{{ project.TechStack }}</p>
                <p class="desc">{{ project.Description }}</p>
              </div>
            </a>
            <a class="source-icon" [href]="project.GitUrl" target="_blank" title="View Source Code">
              <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                  fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" />
              </svg>
            </a>
          </li>
        }
      </ul>

    </div>
  </div>
</section> -->

<section id="works" class="s-works target-section">
  <div class="row works-portfolio">
    <div class="column lg-12" data-animate-block>

      <h2 class="text-pretitle" data-animate-el>Recent Works</h2>
      <p class="h1" data-animate-el>
        Here is a list of the projects I have done lately. Feel free to check them out.
      </p>

      <ul class="project-grid" data-animate-el>
        @for (project of project; track project) {
        <li class="project-card">
          <div
          class="card-content"
          [class.has-link]="project.ProjectUrl"
          [attr.title]="project.ProjectUrl ? 'Visit Project' : null"
          (click)="project.ProjectUrl ? openUrl(project.ProjectUrl) : null"
          style="cursor: pointer;">
          <h3>{{ project.Name }}</h3>
          <p class="tech">{{ project.TechStack }}</p>
          <p class="desc">{{ project.Description || 'No description available.' }}</p>
        </div>
          <!-- <ng-container *ngIf="project.ProjectUrl; else noLink">
            <a [href]="project.ProjectUrl" class="has-link" target="_blank" [attr.title]="'Visit Project'">
              -->
          <!-- <a [href]="project.ProjectUrl || null" [class.has-link]="project.ProjectUrl" target="_blank" [attr.title]="project.ProjectUrl ? 'Visit Project' : null"> -->
            <!-- <div class="card-content">
              <h3>{{ project.Name }}</h3>
              <p class="tech">{{ project.TechStack }}</p>
              <p class="desc">{{ project.Description }}</p>
            </div>
          </a> </ng-container> -->
          <a class="source-icon" [href]="project.GitUrl" target="_blank" title="View Source Code">
            <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" />
            </svg>
          </a>
        </li>
        }
      </ul>

    </div>
  </div>
</section>